#header-main-container{
    padding: 10px;
    background-image: url(../images/logo-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}